@charset "utf-8";
/* CSS Document */
*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif", 'Poppins', sans-serif;
}
body{
	background-image: url("Untitled-6.jpg");
  	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgba(1,112,105,1.00);
	
}
.header{
	position: fixed; 
	top: 0;
	left: 0; 
	width:100%; 
	padding: 20px 10%;
	background: rgba(1,112,105,0.88);
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	z-index:100;
}
.navbar a {
	font-size: 18px; 
	color: aliceblue;
	padding: 7px; 
	font-weight: 500; 
	margin-left: 20px; 
	text-decoration: none; 
}
.navbar a:hover, 
.navbar a:active{
	color:#D58A8A;
}
.logo{
	font-size: 25px; 
	color:hsla(30,68%,77%,1.00);
	text-decoration: none;
	font-weight: 800; 
}
.home{
	height: 200vh;
	display: flex;
	align-items: center; 
	padding: 0 10%;
}
.home-content{
	background-color:transparent;
	max-width: 600px;
}

.home-content .h1{
	font-size: 30px;
	font-weight:700;
	color:aliceblue;
	line-height: 20;
	text-shadow: 1px 1px 3px black;

}
.home-content .h3{
	font-size:20px;
	font-weight: 700;
	color: hsla(30,68%,77%,1.00);
}
.home-content p{
	padding-top: 10px;
	font-size:18px;
	font-weight:20px;
	color:aliceblue;
}


